# PyDev project settings
.project
.pydevproject

# Terraform state, cache, environment configs
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
*.tfplan
*.log

# Flux / GitOps SSH keys
flux-id-ed25519
flux-id-ed25519.pub
