apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nginx-monitor
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: nginx
  namespaceSelector:
    matchNames:
      - staging
  endpoints:
    - port: metrics
      interval: 10s
