apiVersion: v1
kind: Service
metadata:
  name: nginx-app
  namespace: {{ .Values.namespace }}
  labels:
    app: nginx-app
spec:
  type: {{ .Values.service.type }}
  selector:
    app: nginx-app
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
