apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: monitoring
  install:
    createNamespace: true
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.9.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    grafana:
      admin:
        existingSecret: grafana-admin
        userKey: admin-user
        passwordKey: admin-password
      service:
        type: LoadBalancer
      additionalDataSources:
        - name: loki
          type: loki
          access: proxy
          url: http://monitoring-loki-stack.monitoring.svc.cluster.local:3100
          isDefault: false
          jsonData:
            maxLines: 1000
    prometheus:
      service:
        type: LoadBalancer
